<div class="timeline-marker">
<span><%=year_month%></span>
</div>
<div id="timeline-container">
	<%objs.each do |favorite|%>
	    <div class="activity <%= cycle("left", "right") -%>">
	        <div class="line-item yui3-g-r">
	            <div class="line-content">
	                <div class="yui3-u-1-4">
					   <%=image_tag favorite.favorable.picture.image.url(:thumb), width: "80" if favorite.favorable.picture.present?%>
					   <%=holder_tag 80, "picture" unless favorite.favorable.picture.present?%>
	                </div>
	                <div class="yui3-u-3-4">
					   <%=link_to favorite.favorable.name, eval("#{favorite.favorable_type.downcase}_path(favorite.favorable)")%>
	                </div>    
	            </div>
	        </div>
	        <i></i> 
	    </div>
	<%end%>
</div>