<div class="timeline-marker">
    <span><%=year_month%></span>
</div>
<div id="timeline-container">
	<%objs.each do |grade|%>
	    <div class="activity <%= cycle("left", "right") -%>">
	        <div class="line-item yui3-g-r">
	            <div class="line-content">
	                <div class="yui3-u-1-4">
					   	<%=image_tag(grade.gradable.picture.image.url(:thumb), width: 80) if grade.gradable.picture.present?%>
						<%=holder_tag 80,"picture","sky" unless grade.gradable.picture.present?%>
	                </div>
	                <div class="yui3-u-3-4">
					   <%=link_to grade.gradable.title, eval("#{grade.gradable_type.downcase}_path(grade.gradable)")%>
	                </div>    
	            </div>
	        </div>
	        <i></i> 
	    </div>
	<%end%>
</div>