<div class="main">
	<div class="yui3-g-r">
		<div class="yui3-u-1 fixed-sidebar">
			<div class="recommond yui3-u pull-left left-margin">
				<% if flash[:notice] %>
				    <p class="alert"><%= flash[:notice] %></p>
				<% end %>                    
				<h1 class="head">
				        这里是小标为大家准备的一些攻略教程...
				</h1>
				<div class="items recommond">
					<%if @articles.blank?%>
						<p class="text-center no-result">sorry~ 小编太懒，还没开始行动呢！</p>
					<%else%>
    					<%=render partial: "items", locals: {articles: @articles}%>
					<%end%>
				</div>
			    <div class="text-center margin30">
			        <div id="stance"><%=image_tag "loading.gif"%></div>
			        <%=paginate @articles, :theme => 'my_theme', :window => 3%>
			    </div>
			   	<a style="display:none" href="#" data-next="2" data-type="newest" class="loadmore btn yui3-u-2-3">载入更多推荐</a>
			</div>
			<%=render "layouts/commons/right_side"%>
		</div>
	</div>
</div>
