<ul class="nav nav-tabs nav-stacked ">
  <%=active_link_to '个人中心', "/user/dashboard", :wrap_tag => :li%>
  <%=active_link_to '个人信息', "/user/profile", :wrap_tag => :li%>
  <%=active_link_to '爆料', user_deals_path, :wrap_tag => :li%>
  <%=active_link_to '收藏', user_favorites_path, :wrap_tag => :li%>
  <%=active_link_to '评论', user_comments_path, :wrap_tag => :li%>
  <%=active_link_to '评价', user_grades_path, :wrap_tag => :li%>
  <li><%=link_to "积分记录", "#"%></li>
</ul>
