<div class="col-lg-3 non-padding-left">
	<div class="panel panel-success">
	  <ul class="nav nav-pills nav-stacked">
		  <li><%=link_to "Profile", "#"%></li>
		  <li class="active"><%=link_to "Deals", user_deals_path%></li>
		  <li><%=link_to "Favorites", user_favorites_path%></li>
		  <li><%=link_to "Comments", user_comments_path%></li>
		  <li><%=link_to "Grades", user_grades_path%></li>
		  <li><%=link_to "Credit Histories", user_credit_histories_path%></li>
	  </ul>
	</div>   
</div>