<div class="timeline-marker">
    <span><%=year_month%></span>
</div>
<div id="timeline-container">
	<%objs.each do |deal|%>
	    <div class="activity <%= cycle("left", "right") -%>">
	        <div class="line-item yui3-g-r">
	            <div class="line-content">
	                <div class="yui3-u-1-4">
					   	<%=image_tag(deal.picture.image.url(:small), width: 80) if deal.picture.present?%>
						<%=holder_tag 80,"picture","图片" unless deal.picture.present?%>
	                </div>
	                <div class="yui3-u-3-4">
					   <%=link_to deal.name, deal_path(deal)%>
	                </div>    
	            </div>
	        </div>
	        <i></i> 
	    </div>
	<%end%>
</div>