<div class="header">

    <!-- row_one start -->
    <div class="yui3-g-r hd1">

        <!-- logo start -->
        <div class="yui3-u-1-3">
			<%=link_to image_tag("logo.png", border: 0, alt: 'maishoudang', title: '', height: "90"), root_path, :class => 'logo'%>
        </div>
        <!-- logo stop -->
        <!-- search_bar start -->
        <div class="yui3-u-1-4">
                <div class="search yui3-u-1">
					<%= form_tag("/search", method: "get") do %>
                      <div class="yui3-g">
                          <div class="yui3-u-7-8">
							  <%= text_field_tag :q, nil, autocomplete: "off", placeholder: "搜索关键字"%>
                          </div>
                          <div class="yui3-u-1-8 searchbtn">
                              <button type="submit">搜索</button>
                          </div>
                      </div>
					<% end %>
                </div>
        </div>
        <!-- search_bar stop -->
        <div class="yui3-u-5-12">
            <div class="userbar">
                <div class="sign">
					<%if user_signed_in?%>
						<%=link_to t(:dashboard), "/user/#{current_user.username}", class: "btn"%>
						<%=link_to t(:sign_out), destroy_user_session_path,method: :delete, class: "btn"%>
					<%else%>
						<%=link_to t('sign_in'),new_user_session_path, class: "btn"%>
						<%=link_to t('sign_up'),new_user_registration_path, class: "btn"%>
					<%end%>
                </div>
            </div>
        </div>

    </div>
    <!-- row_one stop -->

</div>