<%deals.each do |deal|%>
<div id="deal_<%=deal.id%>">
	<h4><%=link_to deal.display_title.html_safe, deal_path(deal),:class=>:header%></h4>
	<hr class="low-margin">
	<div class="row-fluid">
	  <div class="span9 deal-body">
		  <div><a href="javascript:void(0);"><i class="icon-th-list"></i></a>
			  <%=deal.categories.map{|category|link_to category.name, 
				  deals_path(:category_id => category.id)}.join(" | ").html_safe if deal.categories.any?%>
			  <div class="pull-right"><%#time_ago_in_words deal.created_at%><%=deal.merchant.try(:name)%></div>
		  </div>
		  <hr class="low-margin">
	    <div class="deal-body-presview"><%=deal.display_body.html_safe%></div>
		<div class="deal-body-extra"></div>
	  </div>
	  <div class="span3">
		<div class="thumbnail">	
			<%if deal.pictures.any?%>
				<%=image_tag deal.pictures.first.image.url(:thumb), class: "media-object"%>
			<%else%>
		    	<img data-src="holder.js/130x130" alt="" class="media-object">
			<%end%>
	      	<div class="caption">
				<%=link_to "直达链接", deal.purchase_link, class: "btn btn-block", target: "_blank"%>
	      	</div>
	    </div>
	  </div>
	</div>
	<div class="row-fluid">
		<div class="span9">
			<%=link_to "展开全文<i class='icon-sort-down'></i>".html_safe, unfold_deal_path(deal), 
				method: :get, remote: true, class: "pull-right deal-unfold"%>
		</div>
	</div>
	<%=render "welcome/toolbar", deal: deal%>
</div>
<%end%>
