<div class="row-fluid">
	<ul class="breadcrumb deal-toolbar">
	  <li>
		  <%=link_to "<i class='icon-comments'></i>#{deal.comments.size}".html_safe, 
		   show_recent_user_deal_comments_path(deal), method: :get, remote: true, 
		   class: "deal-toolbar-link deal-show-comment"%>
		  <span class="divider">|</span>
	  </li>
	  <li>
		  <%=link_to "<i class='icon-thumbs-up'></i>#{deal.agree_count}".html_safe, 
		  user_grades_path(:gradable_id => deal.id,:gradable_type => 'Deal' ,:agree => 1), 
		  method: :post, remote: true, class: "deal-toolbar-link deal-grade-up"%>
		  <span class="divider">|</span>
	  <li>
		  <%=link_to "<i class='icon-thumbs-down'></i>#{deal.disagree_count}".html_safe, 
		  user_grades_path(:gradable_id => deal.id,:gradable_type => 'Deal' ,:agree => 0), 
		  method: :post, remote: true, class: "deal-toolbar-link deal-grade-down"%>
		  <span class="divider">|</span>
	  </li>
	  <li>
		  <%=link_to "<i class='icon-heart-empty'></i>#{deal.favorites.size}".html_safe, 
		  user_deal_favorites_path(deal), method: :post, remote: true, 
		  class: "deal-toolbar-link deal-favorite"%>
		  <span class="divider">|</span>
	  </li>
	  <li class="pull-right"><a href="#"><i class="icon-share"></i></a></li>
	</ul>
	<div class="comment-field" style="display: none;">
		<%= form_for([:user,deal ,Comment.new], remote: true, :html => { :class => "comment-form"}) do |f| %>
		<div class="control-group">
			<div class="controls">
		  	  <%=f.text_area :content, rows: 2, placeholder: "请输入10到140汉字", class: "input-xxlarge comment-area"%>  
			  <span class="help-inline"></span>
	  		</div>
	    </div>
	    <button type="submit" class="btn submit-comment">发表评论</button>
	    <a href="javascript:void(0)" class="comment-field-cancel">取消</a>
		<% end %>
		<div class="comment-content">
		</div>
	</div>
</div>