<div class="container-fluid">
	<%=render "welcome/subnav"%>
	<div class="row-fluid">
		<div class="span9">
			<%=render "welcome/deal_list", deals: @deals%>
			<%=paginate @deals%>
		</div>
		<div class="span3">
			<%#=render "welcome/right_sidebar"%>
		</div>
		
	</div>
	<hr>
	<%=render "user/common/footer"%>
</div>

<!-- Modal -->
<%=render "welcome/login_modal"%>

