<!--begin of content-l-->
<div class="content-l">
	<ul class="item-list mixed">
		<%@deals.each do |deal|%>
		<li class="template">
			<div class="container-fluid">	
				<div class="row-fluid">
					<div class="well">
						<div class="row-fluid">
							<div class="item-info ">
								<h3>
									<%=link_to deal.title, deal_path(deal)%>
								</h3>
							</div> 
							</div>
							<div class="row-fluid">
								<div class="span6">
									<%=link_to deal.category.try(:name),"#"%>
								</div>
								<div class="span6">
									<%=deal.updated_at%>
								</div>
							</div>
						</div>
					</div>
				<div class="row-fluid">
					<div class="span10">		 
						<%=deal.reason%>					
					</div>
					<div class="span2">						
						<div class="thumbnail">
							<a
								href="/item/uhuru-responsive-multipurpose-concrete5-theme/4910366"><img
								alt="Uhuru - Responsive Multi-Purpose Concrete5 Theme - ThemeForest Item for Sale"
								border="0" class="landscape-image-magnifier preload no_preview"
								data-item-author="DesignManiaPL"
								data-item-category="CMS Themes / Concrete5" data-item-cost="40"
								data-item-name="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								data-preview-height=""
								data-preview-url="http://3.s3.envato.com/files/59783104/themepreview.__large_preview.png"
								data-preview-width="" height="80"
								src="http://1.s3.envato.com/files/59783103/thumbnail.jpg"
								title="Uhuru - Responsive Multi-Purpose Concrete5 Theme"
								width="80" /></a>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10">		 
						<ul class="nav nav-pills pull-right">
						    <li><a href="#">展开<i class="icon-chevron-down"></i></a></li>
						</ul>
										
					</div>
					
				</div>
			</div>	
		</li>
		<%end%>
	</ul>
	
	<div class="pagination">
		<%= paginate @deals %>
	</div>
</div>
<!-- end of content-l-->
