<div class="content-l">
	<ul class="item-list mixed">
		<li class="template">
			<%= semantic_form_for @merchant, html:  { multipart: true } do |f| %>
			   <%= f.inputs  do %>
				 <%= render  'form',  :f => f %>
			   <% end %>
			   <%= f.actions do %>
			     <%= f.action :submit, :button_html => { :class => "pure-button" } %>
			     <%= f.action :cancel, :as => :link %>
			   <% end %>
			 <% end %>
		 </li>
	 </ul>
</div>