<script>
function add_fields(link, association, content) {
	var new_id = new Date().getTime();
	var regexp = new RegExp("new_" + association, "g")
	$(link).before(content.replace(regexp, new_id));
}
function remove_fields(link) {
	$(link).prev("input[type=hidden]").val("1");
	$(link).closest(".answers, .attachment, div.discussion_topic").hide();	
}
</script>
<div class="form-group">
<%= f.input :title %>
</div>
<%= f.input :reason ,:input_html => { :class => "form-control"}%>
<%= f.input :location %>
<%= f.input :amazing_price %>

<%= f.input :merchant, as: :select,collection: Merchant.all%>
<%= f.input :category, as: :select,collection: Category.all%>

<%= f.semantic_fields_for :pictures do |pic_f| %>   
	<%= render :partial => "pictures", :locals => {:f => pic_f} %>
<% end %>  

<p><%= link_to_add_fields 'add', f, :pictures %></p>

