<%= f.inputs :title %>
<%= f.inputs :reason %>
<%= f.inputs :location %>
<%= f.inputs :amazing_price %>

<%= f.inputs :merchant, as: :select,collection: Merchant.all%>
<%= f.inputs :category, as: :select,collection: Category.all%>

<%= f.semantic_fields_for :pictures do |pic_f| %>   
	<%= render :partial => "pictures", :locals => {:f => pic_f} %>
<% end %>  

<p><%= link_to_add_fields 'Add Attachment', f, :pictures %></p>

