<%@deals.each do |deal|%>
    <div class="item yui3-g-r <%= cycle("odd", "even") -%>">
        <div class="time yui3-u-1-12">
			<span><%=time_ago_in_words deal.created_at%></span>
			<span><%=l deal.created_at, format: :digit%></span>
        </div>
		<%cache ["index",deal] do%>
        <div class="content yui3-u-2-3">
            <h1 class="title">
				<%=link_to deal.title.try(:html_safe), deal_path(deal), :target=>"_blank"%>
			</h1>
            <div class="post-wrap post-hide">
                <div class="post">
                    <p>
						<%=link_to "#{deal.user.username}:&nbsp&nbsp".html_safe, 
							"/user/#{deal.user.username}", target: "_blank", 
								style: "float:left" if deal.user.present?%>
						<%=deal.content.try(:html_safe)%>
					</p>
                </div>    
            </div>
            <div class="entry-share margin20 clearfix">
                <div class="share-content clearfix">
                    <div class="pull-left">
                        <span>分类：</span>
						<%=show_categories deal%>
                    </div>
					<%=render partial: "user/common/tool_bar", locals: {obj: deal}%>
                    <div style="visibility: hidden;" class="more pull-right"><a href="#">全文 ↓</a></div>
                </div>
            </div>
        </div>
        <div class="yui3-u-1-4 thumb">
			<%=image_tag deal.picture.image.url(:medium) if deal.picture.present?%>
			<%=holder_tag 194, "picture" unless deal.picture.present?%>
			<%=link_to "直达链接", purchase_deal_path(deal), class: "btn btn-danger", target: "_blank"%>
			<p><%=deal.merchant.try(:name)%></p>
        </div>
		<%end%>
    </div>
<%end%>