<div class="main">              
	<div class="yui3-g-r margin30">
	  <div class="yui3-u-2-3">
      <h1>我要爆料</h1>
	  <%= form_for Deal.new, html: {class: "want-bomb"} do |f| %>
	  	<div class="fgroup">
			<%=f.label :purchase_link, t("deal.link")%>
			<%= f.text_field :purchase_link, placeholder: "~粘帖商品链接地址", class: "yui3-u-3-4" %>
		</div>
		<div class="fgroup">
			<%=f.label :title, t("deal.title")%>
			<%= f.text_field :title, placeholder: "~爆料标题", class: "yui3-u-3-4" %>
		</div>
		<div class="fgroup">
			<%=f.label :content, t("deal.body")%>
	  		<%= f.text_area :content, class: "yui3-u-3-4", 
			rows: "15", placeholder: "需要什么优惠券？凑单品？限定特殊地区？都可以写在这里。爆料出无需小编修改的优惠，有额外积分奖励。" %>
		</div>
		<div class="fgroup">
	  		<button type="submit" style="width:77.5%" class="btn btn-primary go yui3-u-3-4">写好了，提交</button>
		</div>
	  <% end %>
	  </div>
	  <div class="yui3-u-1-3">
	    <div class="color6 bomb-tip">
	        <h3>如何提交一篇好爆料</h3>
	        <p>1. 品牌佳、价格优、描述精（全站活动？还是分仓特惠）</p>
	        <p>2. 例行推荐，比如每日Myhabit、每日易迅天黑黑活动集合不再接受</p>
	        <p>3. 小众精品请多写几句，给小编科普科普，特别优秀爆料，有额外积分奖励。</p>
			<%=link_to "<< 返回首页", root_path%>
	    </div>    
	  </div>
	</div>
</div>
