<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="panel">
				<div class="row-fluid">
					<div class="span12">
					<fieldset>
						<%= form_for @deal, html: {class: "deal-form",multipart: true} do |f| %>
					    <div class="control-group">
							<div class="controls">
							<%=f.label :title, t("deal.title")%>
							<%= f.text_field :title, autofocus: true, placeholder: t("deal.title"), class: "input-block-level" %>
							</div>
					    </div>
						 <%= f.fields_for :links do |builder| %>
   						 <div class="fields control-group">
   							<div class="controls">
							 	<div class="row-fluid">
							 		<div class="span11">
									<%=builder.label :url, t("deal.link")%>
						 			<%=builder.text_field :url, placeholder: t("deal.link"), class: "input-block-level required url" %>
									</div>
						 		</div>
						 	</div>
						 </div>
						 <% end %>
 						<div class="control-group">
 						  <p class="pull-right"><%= link_to_add_fields "Add Link", f, :links %></p>
 					    </div>
						<div class="control-group">
							<div class="controls">
							  <%=f.label :body, t("deal.body")%>
							  <%= f.text_area :body, class: "input-block-level", rows: "6", placeholder: "请填写理由，100至500字" %>
					  		</div>
					    </div>
						 <%= f.fields_for :pictures do |builder| %>
						 <div class="fields control-group">
							 <div class="controls">
							 	<div class="row-fluid">
							 		<div class="span11 file-upload">
										<%=builder.label :image, t("deal.picture")%>
										<%=builder.file_field :image, class: "real-file", style: "display:none;" %>
										<div class="row-fluid">
											<div class="span9">
												<input class="input-block-level file-display-field required"
													 placeholder="<%=t("deal.picture")%>"  type="text" readonly="readonly">
								 		 	</div>
											<div class="span3">
								      		  <a class="btn btn-primary file-upload-btn"><i class="icon-cloud-upload"></i></i> 
												  浏览</a>
										    </div>
										</div>
							 		</div>
							 	</div>
							</div>
						 </div>
						 <% end %>
   						<div class="control-group">
 							<div class="controls">
   						  	  <div class="pull-right"><%= link_to_add_fields "Add Picture", f, :pictures %></div>
 						    </div>
   					    </div>
						 <hr>
						 <div class="control-group">
							<div class="controls">
		  					<%=f.label :location, t("deal.location")%>
		  					<%= f.text_field :location, placeholder: t("deal.location"), class: "input-block-level" %>
							</div>
		  			    </div>
					    <div class="control-group" >
							<div class="controls">
							<%=f.label :due_date, t("deal.due_date")%>
							<%= f.text_field :due_date, placeholder: t("deal.due_date"), class: "input-block-level datepicker"%>
							</div>
					    </div>
					    <div class="control-group">
						    <div class="checkbox">
						      <%= f.check_box :amazing_price%>
							  <%= f.label :amazing_price, t("deal.is_amazing_price") %>
						    </div>
					    </div>
						  <%= f.submit "Create", class: "btn btn-primary" %>
						  <%=link_to t(:go_back), root_path%>
						<% end %>
					</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

