<div class="main">
    <div class="yui3-g-r">
    	<div class="yui3-u-1 fixed-sidebar">
		<div class="detail margin20 yui3-u left-margin pull-left">
		    <div class="item yui3-g-r">
			    <div class="time yui3-u-1-12">
			        <span><%=time_ago_in_words @deal.created_at%></span>
			    </div>
				<div class="content yui3-u-11-12">
					<h1 class="title"><%=link_to @deal.title, "javascript:void(0);"%></h1>
					<div class="yui3-g-r">
						<div class="yui3-u-3-4">
						    <div class="post-detail">
								<p><%=@deal.content.try(:html_safe)%></p>
						    </div>
						    <div class="entry-share margin30">
						        <div class="bg-gray clearfix">
						            <div class="pull-left">
						                <span>分类：</span>
										<%=show_categories @deal%>
						            </div>
						            <div class="pull-right">
						                <a href="#"  target='_blank' title='分享到新浪微博'>分享到新浪微博</a>
						            </div>
						        </div>
						    </div>
						    <!-- <p class="text-center cmtload">评论加载中...</p> -->
							<div class="sp20 sc margin20" style="" id="commentWrap">
								
								<%if user_signed_in?%>
									<%= form_for([:user,@deal,Comment.new], html: {id: "cmtfm"}) do |f| %>
								        <h3>发布评论</h3>
										<%=f.text_area :content, class: "sc-input", cols: "30", rows: "5", autocomplete: "off" %>
								        <div class="yui3-g">
								            <p></p>
								            <div id="emotion" class="yui3-u-5-6">
												<%=image_tag "Laugh.png", title: "Laugh"%>
												<%=image_tag "Angry.png", title: "Angry"%>
												<%=image_tag "Blush.png", title: "Blush"%>
												<%=image_tag "Crazy.png", title: "Crazy"%>
												<%=image_tag "Crying.png", title: "Crying"%>
												<%=image_tag "Sweat.png", title: "Sweat"%>
												<%=image_tag "Grin.png", title: "Grin"%>
												<%=image_tag "Hot.png", title: "Hot"%>
												<%=image_tag "LargeGasp.png", title: "LargeGasp"%>
												<%=image_tag "Naughty.png", title: "Naughty"%>
								            </div>
								            <div class="text-right yui3-u-1-6">
								                <button type="submit" class="btn btn-block btn-primary">发布</button>
								            </div>
								        </div>
									<%end%>
								<%else%>
									<div class="alert">评论前，请  <%=link_to t('sign_in'),new_user_session_path%></div>
									
								<%end%>
								
							    <h3>评论(<%=@deal.comments.size%>)</h3>
							    <ul id="s-cmts" class="s-cmts">
									<%@deal.comments.each do |comment|%>
							        	<%= render partial: "comments/comment", locals: {comment: comment} %>
									<%end%>
							    </ul> 
							</div>
						</div>
						<div class="yui3-u-1-4">
						    <div class="thumb-fix">
						        <div class="thumb">
						            <!-- <img src= url_for('static',filename="img/st.jpg") > -->
									<%=image_tag @deal.picture.image.url(:thumb) if @deal.picture.present?%>
									<%=holder_tag 194, "", "sky" unless @deal.picture.present?%>
						            <a class="btn btn-danger" target="_blank" href="/goods/n85pj">直达链接</a>
						        </div>
						        <div class="text-center addlike">
						            <a class="btn btn-primary" href="#" data-id="/recommend/0303-ruelala-gilt-myhabit-ebay-sale/">
        
						                收藏(0)
        
						            </a>
						        </div>

						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%=render "layouts/commons/right_side"%>
		</div>
	</div>
	<div>
</div>
