<div class="container-fluid">
  <div class="body-content">
    <div class="row-fluid">
		<div class="span3">
			<%=render "user/common/left_side_bar"%>
		</div>
      <div class="span9">
	   <div class="well well-small"> 我的收藏 <%=link_to "更多",user_favorites_path,class: "pull-right"%></div>
	   <%=render "/user/favorites/form", favorites: @favorites%>
	   <div class="well well-small">我的评论 <%=link_to "更多",user_comments_path,class: "pull-right"%></div> 
	   <%=render "/user/comments/form", comments: @comments%>
      </div>
    </div>
    <hr>
    <%=render "user/common/footer"%>
  </div>
</div>