<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="col-lg-9 non-padding-right">
		  <div class="panel panel-info">
			  <div class="panel-heading">我的收藏 <%=link_to "更多",user_favorites_path,class: "pull-right"%></div>
  			<%if @favorites.any?%>
  				<table class="table table-hover">
  					<tbody>
  					  <%@favorites.each do |favorite|%>
  				          <tr>
  				            <td>
  				            	<%if favorite.deal.pictures.any?%>
  									<%=image_tag favorite.deal.pictures.first.image.url(:thumb) unless favorite.deal.pictures.first.image.nil?%>
  								<%end%>
  				            </td>
  				            <td><%=link_to favorite.deal.title, deal_path(favorite.deal)%></td>
  				          </tr>
  					  <%end%>
  			        </tbody>
  				</table>
  			<%else%>
  				<div class="well well-sm">你还没有收藏</div>
  			<%end%>
			 
		  </div>
		  <div class="panel panel-info">
			  <div class="panel-heading">我的评论 <%=link_to "更多",user_comments_path,class: "pull-right"%></div>
		  </div>
      </div>
  <!--end of col-lg-10-->
  	  <%=render "user/common/right_side_bar"%>
    </div>
    <hr>
    <%=render "user/common/footer"%>
  </div>
</div> <!-- /container -->