<div class="main">
            	<!--user homepage -->
                <div class="user-hp-content">
                	<div class="yui3-g-r userhome-hd">
                        <div class="yui3-u-1 person">
							<% if flash[:notice] %>
							    <p class="alert"><%= flash[:notice] %></p>
							<% end %>
                            <a href="#">
								<%=image_tag @user.picture.image.url(:thumb), class: "avatar" if @user.picture.present?%>
								<%=holder_tag 122,"Avatar", "sky" unless @user.picture.present?%>
                            </a>
                            <div class="yui3-u">
                                <p>
                                    <span class="nickname"><%=@user.username%></span>
									<%=link_to("修改资料", "/user/profile", type: "button", class: "btn btn-success") if current_user==@user %>
                                </p>
                                <p class="credits">
                                    历史积分：0
                                </p>
                                 <p>
                                     可用积分：<%=@user.credit%> <a href="#">去兑换</a>
                                 </p>
	                            <p>
	                                <a href="#">积分历史</a>
	                            </p>
                                <p>
                                    加入时间 <%=l @user.created_at, :format => :long%>
                                </p>
                            </div>    
                        </div>
						
                        <div class="user-hp-nav yui3-g-r">
							<%=render partial: "user/common/user_navbar", locals: {user: @user}%>
                        </div>
                    </div>
                    
                    <div id="msd-timeline" class="clearfix" data-name="<%=@user.friendlyid%>" 
						data-next="<%=@next_date%>" data-klass="<%=@obj_class%>">
						<%=render partial: "user/#{@obj_class}/items", locals: { objs: @objs, year_month: @current_date }%>
                    </div>
                    <div id="stance" class="loadmore"><%=image_tag "loading.gif"%></div>
                </div>
            </div>
            <div id="push"></div>
        </div>