<div class="main">
            	<!--user homepage -->
                <div class="user-hp-content">
                	<div class="yui3-g-r userhome-hd">
                        <div class="yui3-u-1 person">
                            <a href="#">
								<%=image_tag @user.picture.image.url(:thumb), class: "avatar" if @user.picture.present?%>
								<%=holder_tag 122,"",class: "avatar" unless @user.picture.present?%>
                            </a>
                            <div class="yui3-u">
                                <p>
                                    <span class="nickname"><%=@user.username%></span>
                                </p>
                                <!-- <p class="credits">
                                    历史积分：0
                                </p>
                                 <p>
                                     可用积分：0 <a href="#">去兑换</a>
                                 </p>
	                            <p>
	                                <a href="/user/score_history">积分历史</a>
	                            </p> -->
                                <p>
                                    加入时间 <%=l @user.created_at, :format => :long%>
                                </p>
                            </div>    
                        </div>
						
                        <div class="user-hp-nav yui3-g-r">
                            <a class="yui3-u-1-5 my_info <%='current' if @obj_class.eql? 'deals'%>" 
								id="deals" href="/user/<%=@user.username%>/deals">我的爆料</a>
							<!-- <a class="yui3-u-1-5 my_info <%='current' if @obj_class.eql? 'discoveries'%>" 
								id="discoveries" href="/user/<%=@user.username%>/discoveries">我的发现</a> -->
							<a class="yui3-u-1-5 my_info <%='current' if @obj_class.eql? 'discoveries'%>" 
								id="discoveries" href="javascript:void(0)">我的发现</a>
							<a class="yui3-u-1-5 my_info <%='current' if @obj_class.eql? 'favorites'%>" 
								id="favorites" href="/user/<%=@user.username%>/favorites">我的收藏</a>
                            <a class="yui3-u-1-5 my_info <%='current' if @obj_class.eql? 'comments'%>" 
								id="comments" href="/user/<%=@user.username%>/comments">我的评论</a>
							<a class="yui3-u-1-5 my_info <%='current' if @obj_class.eql? 'grades'%>" 
								id="grades" href="/user/<%=@user.username%>/grades">我点的赞</a>
                        </div>
                    </div>
                    
                    <div id="msd-timeline" class="clearfix" data-name="<%=@user.username%>" 
						data-next="<%=@next_date%>" data-klass="<%=@obj_class%>">
						<%=render partial: "user/#{@obj_class}/items", locals: { objs: @objs, year_month: @current_date }%>
                    </div>
                    <div id="stance" class="loadmore"><%=image_tag "loading.gif"%></div>
                </div>
            </div>
            <div id="push"></div>
        </div>