<div class="timeline-marker">
    <span><%=year_month%></span>
</div>
<div id="timeline-container">
	<%objs.each do |comment|%>
	    <div class="activity <%= cycle("left", "right") -%>">
	        <div class="line-item yui3-g-r">
	            <div class="line-content">
	                <div class="yui3-u-1-4">
					   <%=image_tag comment.commentable.picture.image.url(:thumb), width: "80" if comment.commentable.picture.present?%>
					   <%=holder_tag 80, "picture" unless comment.commentable.picture.present?%>
	                </div>
	                <div class="yui3-u-3-4">
					   <%=link_to comment.commentable.name, eval("#{comment.commentable_type.downcase}_path(comment.commentable)")%>
					   <p>
					   	   <span style="color:#EB7171;">评论：</span>
					   	   <%=comment.content.try(:html_safe)%>
					   </p>
	                </div>    
	            </div>
	        </div>
	        <i></i> 
	    </div>
	<%end%>
</div>