<!DOCTYPE html>
<html>
	<head>
	  <title>麦收档</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%=render "layouts/commons/header"%>
		<%=render "layouts/commons/navbar"%>
		<%= yield %>
		<div class="clearfix"></div>
		<div id="push"></div>
		<%=render "layouts/commons/footer"%>
	</body>
</html>
