<!DOCTYPE html>
<html>
	<head>
	  <title>买手党——一个买手聚集的地方</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="top-tip" class="top-tip">
		    <span id="inner-msg">请先登录 !</span>
		</div>
		<%=render "layouts/commons/header"%>
		<%=render "layouts/commons/navbar"%>
		<%= yield %>
		<div class="clearfix"></div>
		<div id="push"></div>
		<%=render "layouts/commons/footer"%>
	</body>
</html>
