<!DOCTYPE html>
<html>
	<head>
	  <title>买手党——一个买手聚集的地方</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application","data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please 
			<a href="http://browsehappy.com/">upgrade your browser</a> or 
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> 
			to improve your experience.</p>
		<![endif]-->
		<div class="signwrap">
			<%=render "layouts/commons/mini_header"%>
			<div class="sign-content">
				<%= yield %>
			</div>
		</div>
		<script type="text/javascript">
		  var vglnk = { api_url: '//api.viglink.com/api',
		                key: '9a94abc9cd55e1ab4dd96585fefe9c4a' };

		  (function(d, t) {
		    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
		    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
		             '//cdn.viglink.com/api') + '/vglnk.js';
		    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
		  }(document, 'script'));
		</script>
	</body>
</html>
